body{
    background-color: hsla(0, 3%, 26%, 0.267);
    place-items: center;
}
.recuadro {
  width: 70%;
  height: 80%;
  background: transparent;                  
  padding: 16px;
  display: flex;
  justify-content: space-around;

}

.fila {
  display: flex;
}
.img{
    padding: 10%;
    width: 70%;
}
.cuadrado {
  width: 30%;
  height: 75%;
  background: white;
  place-items: center;
}
